{
   "semi": true,
   "trailingComma": "none",
   "singleQuote": false,
   "printWidth": 150,
   "tabWidth": 3,
   "useTabs": false,
   "bracketSpacing": true,
   "arrowParens": "avoid",
   "overrides": [
      {
         "files": "*.json",
         "options": {
            "tabWidth": 3
         }
      },
      {
         "files": "*.md",
         "options": {
            "proseWrap": "always"
         }
      }
   ]
}
